        <div class="modal fade" id="allMessageForm" tabindex="-1" role="dialog" aria-labelledby="allMessageFormLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="allMessageFormLabel">メッセージ送信</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            プロトタイプのため機能未開放
                        </div>
                        
                        <textarea name="allMessage" id="allMessage" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                        <button id="allSend" class="btn btn-primary"  data-dismiss="modal">全体へ送信する</button>
                    </div>
                </div>
            </div>
        </div>
