<title><%= title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/jquery.pageslide.css' />
<link rel='stylesheet' href="/stylesheets/sb-admin.css" rel="stylesheet">
<link rel='stylesheet' href="/javascripts/plugins/alert/css/jquery.toastmessage.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
<link href="/stylesheets/chatapp.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/button.js"></script>
<script type="text/javascript" src="/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript" src="/javascripts/plugins/alert/jquery.toastmessage.js"></script>
<script type="text/javascript" src="/javascripts/sb-admin.js"></script>
<script type="text/javascript" src="/javascripts/submit.js"></script>
<script type="text/javascript" src="/javascripts/utils.js"></script>
<script type="text/javascript" src="/view-script/common.js"></script>